<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    
    <title> {% block title %}  {% endblock %}</title>
</head>
<body>
    <nav>
        <div class="nav-div">
            <a href="/"> ToDo List </a>
            <button type="button" href="/" class="home">Home</button>
            <button type="button">Login</button>
            <button type="button">Signup</button>
        </div>
    </nav>
    <hr/>
    

    {% block body %}
    
    {% endblock %}
</body>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
</html>