<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    
    <title> {% block title %}  {% endblock %}</title>
</head>
<body>
    <div class="side-nav">
        
        <a href="#" class="item">
            <img src="{{url_for('static', filename='images/home.svg')}}" alt="">
            <span class="link-text">Home</span>
        </a>


        <a href="#" class="item">
            <img src="{{url_for('static', filename='images/task.svg')}}" alt="">
            <span class="link-text">View Tasks</span>
        </a>


        <a href="#" class="item">
            <img src="{{url_for('static', filename='images/calender.svg')}}" alt="">
            <span class="link-text">Calender</span>
        </a>


        <a href="#" class="item">
            <img src="{{url_for('static', filename='images/menu.ico')}}" alt="">
            <span class="link-text">Schedule</span>
        </a>


        <a href="#" class="item">
            <img src="{{url_for('static', filename='images/menu.ico')}}" alt="">
            <span class="link-text">Create Task</span>
        </a>


    </div>

    <article>
    <nav>
        <div class="nav-div">
            <a href="/" style="margin-right: auto; text-align: center;"> ToDo List </a>
            <button type="button">Login</button>
            <button type="button">Signup</button>
        </div>
    </nav>
    <hr/>
    

    {% block body %}
    
    {% endblock %}
    </article>
</body>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
</html>