{% extends 'base.html' %}


{% block title %} ToDo List {% endblock %}

{% block body %}
<main>
    <div class="display">

        <div class="ToDo">

            <h1 class="task-label"> ToDo </h1 class="task-label">
            
            <div class="task">
                <h2 class="head">Finish This Website</h2>
                
                <p class="description">finish coding this website</p>
                <p class="due">10/8/2023</p>
            </div>

            <button type="button" class="task-addition" id="add-todo"></button>

        </div>

        
        <div class="prog">
            
            <h1 class="task-label">In Progress</h1 class="task-label">
            
            <div class="task">
                <h2 class="head">Finish This Website By This Week</h2>
                
                <p class="description">finish coding this website</p>
                <p class="due">10/8/2023</p>
            </div>

            <button type="button" class="task-addition" id="add-prog"></button>

        </div>

        
        <div class="upcoming">

            <h1 class="task-label"> Upcoming </h1 class="task-label">


            <div class="task">
                <h2 class="head">Finish This Website l8r</h2>
                
                <p class="description">finish coding this website</p>
                <p class="due">10/8/2023</p>
            </div>

            <button type="button" class="task-addition" id="add-upcoming"></button>

        </div>


        <div class="urgent">
            
            <h1 class="task-label" style="color: red;"> Urgent </h1 class="task-label">
    
            <div class="task">
                <h2 class="head">Finish This Website Now</h2>
                
                <p class="description">finish coding this website</p>
                <p class="due">10/8/2023</p>
            </div>

            <button class="task-addition" id="add-urgent"></button>

        </div>
    </div>


</main>


{% endblock %}