{% extends 'base.html' %}


{% block title %} ToDo List {% endblock %}

{% block body %}
<main>
    <div class="display">

        <div class="today">

            <h1 class="task-label"> Today's Tasks </h1 class="task-label">
            
            <div class="task">
                <div class="head">
                    <h2>Finish This Website</h2>
                    <button type="button"> ⋮ </button>
                </div>
                <p class="description">finish coding this website</p>
                <p class="due">10/8/2023</p>
            </div>


        </div>

        
        <div class="this-week">
            
            <h1 class="task-label">This Week's Tasks</h1 class="task-label">
            
            <div class="task">
                <div class="head">
                    <h2>Finish This Website By This Week</h2>
                    <button type="button"> ⋮ </button>
                </div>
                <p class="description">finish coding this website</p>
                <p class="due">10/8/2023</p>
            </div>


        </div>

        
        <div class="planned">

            <h1 class="task-label">Planned Tasks</h1 class="task-label">


            <div class="task">
                <div class="head">
                    <h2>Finish This Website l8r</h2>
                    <button type="button"> ⋮ </button>
                </div>
                <p class="description">finish coding this website</p>
                <p class="due">10/8/2023</p>
            </div>


        </div>


        <div class="urgent">
            
            <h1 class="task-label" style="color: red;"> Urgent Tasks </h1 class="task-label">
    
            <div class="task">
                <div class="head">
                    <h2>Finish This Website Now</h2>
                    <button type="button"> ⋮ </button>
                </div>
                <p class="description">finish coding this website</p>
                <p class="due">10/8/2023</p>
            </div>

        </div>
    </div>

    <button type="button" class="create-new" id="create-new">Create A Task</button>


</main>


{% endblock %}